<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head><meta charset="UTF-8"><title>Terceirizados</title></head>
    <body>
        <h2>Terceirizados</h2>
        <a th:href="@{/terceirizados/novo}">Novo Terceirizado</a> |
        <a th:href="@{/}">Voltar</a>
        <table border="1">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Função</th>
                    <th>Empresa</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="t : ${terceirizados}">
                    <td th:text="${t.nome}"></td>
                    <td th:text="${t.funcao}"></td>
                    <td th:text="${t.empresaPrestadora}"></td>
                    <td><a th:href="@{'/terceirizados/excluir/' + ${t.id}}">Excluir</a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
