<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Novo Funcionário</title>
    </head>
    <body>
        <h2>Novo Funcionário</h2>
        <form th:action="@{/funcionarios}" th:object="${funcionario}" method="post">
            <label>Nome:</label>
            <input type="text" th:field="*{nome}"/><br>


            <label>CPF:</label>
            <input type="text" th:field="*{cpf}"/><br>


            <label>Data de Nascimento:</label>
            <input type="date" th:field="*{dataNascimento}"/><br>


            <label>Matrícula:</label>
            <input type="text" th:field="*{matricula}"/><br>


            <label>Cargo:</label>
            <input type="text" th:field="*{cargo}"/><br>


            <label>Salário Base:</label>
            <input type="number" step="0.01" th:field="*{salarioBase}"/><br>


            <label>Data de Contratação:</label>
            <input type="date" th:field="*{dataContratacao}"/><br>


            <label>ID do Departamento:</label>
            <input type="number" th:field="*{departamentoId}"/><br>


            <button type="submit">Salvar</button>
        </form>
        <a href="/funcionarios">Voltar</a>
    </body>
</html>