<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Gestão de Pessoas - Página Inicial</title>
    </head>
    <body>
        <h1>Gestão de Pessoas - Organizatec</h1>
        <nav>
            <a th:href="@{/funcionarios}">Funcionários</a> |
            <a th:href="@{/terceirizados}">Terceirizados</a> |
            <a th:href="@{/visitantes}">Visitantes</a> |
            <a th:href="@{/h2-console}" target="_blank">Banco H2</a>
        </nav>
    </body>
</html>
